{
    "title": "Simplog",
    "subtitle": "Yet another blog",
    "link": "http://yoursite",
    "meta": {
        "description": "简单的静态博客搭建系统",
        "keywords": ["Simplog","简单","博客"],
        "author": "Simplog"
    },
    "master": {
        "name": "",
        "about": "",
        "email": "",
        "weibo": ""
    },
    "rss": {
        "title": "CodingLabs",
        "desc": "keep coding, keep foolish",
        "lang": "zh-cn",
        "max": 20
    },
    "copyright": {
        "owner": "Simplog",
        "beginYear": "2012",
        "endYear": "2013",
        "ICP": "京ICP备12345678-1号"
    }
}
