{
    "articles": [
        {
            "id": "helloworld",
            "title": "Hello World",
            "postedOn": "2013-01-01",
            "author": "My Name",
            "tags": ["hello", "world"],
            "category": "",
            "abstract": "This is my first article!"
        }
    ]
}
